body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      
      #todo-list li {
        border-bottom: 1px solid #333333;
        padding: 15px 0;
      }

      .container {
      	width: 750px;
      }

      .logo {
      	font-weight: bolder;
      	font-size: 25px;
      	color: rgb(51, 122, 183);
      	padding: 10px;
      	float: left;
      }